In [44]:
import pymongo
import pandas as pd
import pickle
import json

In [91]:
cli = pymongo.MongoClient()
db = cli.project
coll = db.Linkedin

In [92]:
df = pd.DataFrame(list(coll.find()))

In [93]:
df.head(1)

,_id,company,company_link,country,description,full_address,job_post_link,location,logo,scraped_address,title
0,569d9177f61b7a202e820166,Data Talent Australia,https://www.linkedin.com/company/data-talent-a...,au,Identifies unique opportunities to collect new...,"Melbourne, City of Melbourne, Greater Melbourn...",https://www.linkedin.com/jobs2/view/95509188?t...,"[-37.8142175, 144.9631608]",https://media.licdn.com/mpr/mpr/shrinknp_200_2...,"Melbourne, Australia",Data Scientist

In [94]:
countries_dict = pickle.load(open('../web_app/models/countries_dict.pkl', 'r'))

In [95]:
df["country"] = df.country.apply(lambda x: countries_dict[x])

In [96]:
df.head(1)

,_id,company,company_link,country,description,full_address,job_post_link,location,logo,scraped_address,title
0,569d9177f61b7a202e820166,Data Talent Australia,https://www.linkedin.com/company/data-talent-a...,Australia,Identifies unique opportunities to collect new...,"Melbourne, City of Melbourne, Greater Melbourn...",https://www.linkedin.com/jobs2/view/95509188?t...,"[-37.8142175, 144.9631608]",https://media.licdn.com/mpr/mpr/shrinknp_200_2...,"Melbourne, Australia",Data Scientist

In [97]:
country_dict = {}
for i, v in enumerate(list(df.country.unique())):
    country_dict[] = v
country_json = json.dumps(country_dict)

SyntaxError: invalid syntax (<ipython-input-97-3fa92dc9b3e4>, line 3)

In [117]:
country = pd.DataFrame({'name' : df.country.unique()})
country['id'] = country.index

In [116]:
hello

NameError: name 'hello' is not defined

In [120]:
country_json = json.dumps([{"id": id, "name": name} for id, name in zip(country['id'], country['name'])])
country_json

'[{"id": 0, "name": "Australia"}, {"id": 1, "name": "Austria"}, {"id": 2, "name": "Belgium"}, {"id": 3, "name": "Brazil"}, {"id": 4, "name": "Canada"}, {"id": 5, "name": "China"}, {"id": 6, "name": "Czech Republic"}, {"id": 7, "name": "Denmark"}, {"id": 8, "name": "Finland"}, {"id": 9, "name": "France"}, {"id": 10, "name": "Germany"}, {"id": 11, "name": "Hong Kong"}, {"id": 12, "name": "Hungary"}, {"id": 13, "name": "India"}, {"id": 14, "name": "Indonesia"}, {"id": 15, "name": "Ireland"}, {"id": 16, "name": "Israel"}, {"id": 17, "name": "Italy"}, {"id": 18, "name": "Japan"}, {"id": 19, "name": "Kenya"}, {"id": 20, "name": "Korea (South)"}, {"id": 21, "name": "Luxembourg"}, {"id": 22, "name": "Malaysia"}, {"id": 23, "name": "Malta"}, {"id": 24, "name": "Mexico"}, {"id": 25, "name": "Netherlands"}, {"id": 26, "name": "Norway"}, {"id": 27, "name": "Philippines"}, {"id": 28, "name": "Poland"}, {"id": 29, "name": "Portugal"}, {"id": 30, "name": "Qatar"}, {"id": 31, "name": "Romania"}, {"id": 32, "name": "Russian Federation"}, {"id": 33, "name": "Singapore"}, {"id": 34, "name": "Slovak Republic"}, {"id": 35, "name": "South Africa"}, {"id": 36, "name": "Spain"}, {"id": 37, "name": "Sweden"}, {"id": 38, "name": "Switzerland"}, {"id": 39, "name": "Taiwan"}, {"id": 40, "name": "Thailand"}, {"id": 41, "name": "Ukraine"}, {"id": 42, "name": "United Arab Emirates"}, {"id": 43, "name": "Great Britain (UK)"}, {"id": 44, "name": "United States"}, {"id": 45, "name": "Vietnam"}, {"id": 46, "name": "Bulgaria"}, {"id": 47, "name": "Chile"}, {"id": 48, "name": "Colombia"}, {"id": 49, "name": "Costa Rica"}, {"id": 50, "name": "Ecuador"}, {"id": 51, "name": "Estonia"}, {"id": 52, "name": "Lithuania"}, {"id": 53, "name": "Morocco"}, {"id": 54, "name": "New Zealand"}]'

In [30]:
dx= df.groupby(by='country', axis = 1)

In [123]:
df.columns

Index([u'_id', u'company', u'company_link', u'country', u'description',
       u'full_address', u'job_post_link', u'location', u'logo',
       u'scraped_address', u'title'],
      dtype='object')

In [121]:
from geopy.geocoders import Nominatim

In [259]:
from geopy.distance import vincenty
df['location'][0]
newport_ri = df['location'][0]
cleveland_oh = df['location'][1000]
print(vincenty(newport_ri, cleveland_oh).miles)

3757.34513509

In [130]:
[]

Melbourne, City of Melbourne, Greater Melbourne, Victoria, 3000, Australia
Singapore, Central Singapore Community Development Council, Singapura

In [136]:
from bs4 import BeautifulSoup
import re 
import requests

In [153]:
site = requests.get('http://www.worldatlas.com/citypops.htm').text
soup = BeautifulSoup(site, "html.parser")

In [165]:
all_list =[]
soup2 = soup.findAll('ul')[4]
for i in soup2.findAll('a'):
    all_list.append(i.text)

In [236]:
all_list.append(u'Budapest, Hungary')

In [244]:
all_list.remove('Chongqung, China')

In [245]:
from geopy.geocoders import Nominatim
city_location_dict = {}
for city in all_list:
    geolocator = Nominatim()
    print city
    located_address = geolocator.geocode(city)
    city_location_dict[city] = (located_address[1])

Tokyo, Japan
Jakarta, Indonesia
Seoul, South Korea
Delhi, India
Shanghai, China
Manila, Philippines
Karachi, Pakistan
New York, USA
Sao Paulo, Brazil
Mexico City, Mexico
Cairo, Egypt
Beijing, China
Osaka, Japan
Guangzhou, China
Moscow, Russia
Los Angeles, USA
Calcutta, India
Dhaka, Bangladesh
Buenos Aires, Argentina
Istanbul, Turkey
Rio de Janeiro, Brazil
Shenzhen, China
Lagos, Nigeria
Paris, France
Nagoya, Japan
Lima, Peru
Chicago, USA
Kinshasa, Congo (DRC)
Tianjin, China
Chennai, India
Bogota, Colombia
Bengaluru, India
London, United Kingdom
Taipei, Taiwan
Dongguan, China
Hyderabad, India
Chengdu, China
Lahore, Pakistan
Johannesburg, South Africa
Tehran, Iran
Essen, Germany
Bangkok, Thailand
Hong Kong, Hong Kong
Wuhan, China
Ahmedabad, India
Baghdad, Iraq
Hangzhou, China
Toronto, Canada
Kuala Lumpur, Malaysia
Santiago, Chile
Dallas-Fort Worth, USA
Quanzhou, China
Miami, USA
Shenyang, China
Belo Horizonte, Brazil
Philadelphia, USA
Nanjing, China
Madrid, Spain
Houston, USA
Xi'an-Xianyang, China
Milan, Italy
Luanda, Angola
Pune, India
Singapore, Singapore
Riyadh, Saudi Arabia
Khartoum, Sudan
Saint Petersburg, Russia
Atlanta, USA
Surat, India
Washington, D.C., USA
Bandung, Indonesia
Surabaya, Indonesia
Yangoon, Myanmar
Alexandria, Egypt
Guadalajara, Mexico
Harbin, China
Boston, USA
Zhengzhou, China
Qingdao, China
Abidjan, Cote d'Ivoire
Barcelona, Spain
Monterrey, Mexico
Ankara, Turkey
Suzhou, China
Salvador, Brazil
Porto Alegre, Brazil
Rome, Italy
Accra, Ghana
Sydney, Australia
Recife, Brazil
Naples, Italy
Detroit, USA
Dalian, China
Fuzhou, China
Medellin, Colombia
Austin, USA
San Diego, USA
Charlotte, USA
Seattle, USA
Vancouver, Canada
Sofia, Bulgaria
Prague, Czech Republic
Stockholm, Sweden
Oslo, Norway
Berlin, Germany
Hamburg, Germany
Cologne, Germany
Ho Chi Minh City, Vietnam
Mumbai, India
San Francisco, USA
San Jose, USA
Phoenix, USA
Mesa, USA
Bogota, Colombia
Oakland, USA
Rio de Janeiro, Brazil
Montevideo, Uruguay
Manchester, UK
Birmingham, UK
Edinburgh, UK
Auckland, New Zealand
Wellington, New Zealand
Melbourne, Australia
ZÃ¼rich, Switzerland
Geneva, Switzerland
Vienna, Austria
Athens, Greece
Budapest, Hungary
{u'Vancouver, Canada': (49.2608944, -123.1139383), u'Lima, Peru': (-12.0, -76.833333), u'Shenzhen, China': (22.5442673, 114.0545327), u'Phoenix, USA': (33.4467681, -112.0756724), u'Medellin, Colombia': (6.2443382, -75.573553), u'Mesa, USA': (33.436188, -111.586066076293), u'London, United Kingdom ': (51.5073219, -0.1276473), u'Hangzhou, China ': (30.2756741, 120.1504858), u'Karachi, Pakistan ': (24.8667795, 67.0311286), u'Johannesburg, South Africa': (-26.205, 28.0497222), u'Monterrey, Mexico': (25.6764922, -100.3060828), u'Athens, Greece': (37.9841493, 23.7279843), u'Suzhou, China': (31.2984758, 120.622239), u'Singapore, Singapore': (1.2904527, 103.852038), u'Shenyang, China': (41.8045293, 123.4277858), u'Osaka, Japan': (34.6852955, 135.5145684), u'Riyadh, Saudi Arabia': (24.6319692, 46.7150648), u'Chengdu, China ': (30.6765553, 104.0612783), u'Jakarta, Indonesia': (-6.1753941, 106.8271826), u'Manila, Philippines': (14.5906216, 120.9799696), u'Austin, USA': (30.2711286, -97.7436994), u'Chicago, USA': (41.8755546, -87.6244212), u'Naples, Italy': (40.8359336, 14.2487826), u'Tianjin, China ': (39.1235635, 117.1980785), u'Vienna, Austria': (48.2083537, 16.3725042), u'Salvador, Brazil ': (-12.9822499, -38.4812772), u'Khartoum, Sudan ': (15.5933247, 32.5356502), u'New York, USA ': (40.7305991, -73.9865812), u'Kuala Lumpur, Malaysia': (3.1570976, 101.7009528), u'Sofia, Bulgaria': (42.6977211, 23.3225964), u'Zhengzhou, China': (34.7591877, 113.6524076), u'Guangzhou, China ': (23.1300037, 113.259001), u'Alexandria, Egypt': (31.1990035, 29.8943785), u'Detroit, USA': (42.3486635, -83.0567375), u'Manchester, UK': (53.4791466, -2.2447445), u'Montevideo, Uruguay': (-34.9059039, -56.1913569), u'Shanghai, China': (31.2253441, 121.4888922), u'Ho Chi Minh City, Vietnam': (10.7758439, 106.7017555), u'Houston, USA': (29.7589382, -95.3676973), u'Harbin, China ': (45.7656666, 126.6160584), u'Mumbai, India': (18.9523804, 72.8327112), u'Stockholm, Sweden': (59.3251172, 18.0710935), u'Bandung, Indonesia ': (-6.9344693, 107.6049539), u'Quanzhou, China': (25.22314005, 118.149366456272), u'Nanjing, China': (32.0609158, 118.7916065), u'Saint Petersburg, Russia': (59.9393657, 30.3153628), u'Tokyo, Japan': (34.2255804, 139.294774527387), u'Geneva, Switzerland': (46.2017559, 6.1466014), u'Taipei, Taiwan ': (25.0375167, 121.5637), u'Guadalajara, Mexico': (20.676143, -103.3469982), u'Accra, Ghana': (5.5600141, -0.2057436), u'Ankara, Turkey': (39.9220794, 32.853758), u'Seattle, USA': (47.6038321, -122.3300624), u'Wellington, New Zealand': (-41.2887638, 174.7772239), u'Mexico City, Mexico': (19.4325301, -99.1332102), u'Recife, Brazil ': (-8.0581077, -34.8979047), u'Tehran, Iran': (35.686172, 51.4223519), u'San Jose, USA': (37.3361905, -121.8905833), u'Porto Alegre, Brazil': (-30.0282658, -51.228427), u'Essen, Germany': (51.4572062, 7.0114963), u'Qingdao, China': (36.0895093, 120.3497193), u'Dongguan, China': (23.0449275, 113.7524781), u'Buenos Aires, Argentina': (-34.612869, -58.4459789), u'San Diego, USA': (32.7174209, -117.1627714), u'Cologne, Germany': (50.9383611, 6.9599738), u'Delhi, India': (28.6572914, 77.2272603), u'Sao Paulo, Brazil ': (-23.5476397, -46.637365), u'Boston, USA': (42.3604823, -71.0595678), u'Lagos, Nigeria': (6.4550575, 3.3941795), u'Barcelona, Spain ': (41.3825596, 2.1771353), u'Belo Horizonte, Brazil': (-19.9227318, -43.9450948), u"Xi'an-Xianyang, China": (34.3049864, 108.7256803), u"Abidjan, Cote d'Ivoire": (5.4091179, -4.0422099), u'Wuhan, China': (30.5960213, 114.2992796), u'Edinburgh, UK': (55.9483544, -3.1931186), u'Madrid, Spain': (40.4167047, -3.7035825), u'Moscow, Russia': (55.7516335, 37.6187042), u'Toronto, Canada': (43.6529206, -79.3849008), u'Nagoya, Japan ': (35.183333, 136.9), u'Surabaya, Indonesia': (-7.2459717, 112.7378266), u'Beijing, China ': (39.9059631, 116.391248), u'Hong Kong, Hong Kong ': (22.2793278, 114.1628131), u'Bangkok, Thailand ': (13.5859219, 100.416086601645), u'Ahmedabad, India': (23.0216238, 72.5797068), u'Pune, India': (18.64395815, 73.9325681901252), u'San Francisco, USA': (37.7792768, -122.4192704), u'Oakland, USA': (37.8044557, -122.2713563), u'Dalian, China ': (38.920716, 121.6388678), u'Seoul, South Korea': (37.5666791, 126.9782914), u'Miami, USA': (25.7742658, -80.1936589), u'Bengaluru, India': (12.9791198, 77.5912997), u'Charlotte, USA': (35.2270869, -80.8431268), u'Cairo, Egypt ': (30.0488185, 31.2436663), u'Chennai, India': (13.0796914, 80.2829533), u'Berlin, Germany': (52.5170365, 13.3888599), u'Atlanta, USA': (33.7490987, -84.3901849), u'Santiago, Chile': (-33.4377968, -70.6504451), u'Oslo, Norway': (59.9132694, 10.7391112), u'Dallas-Fort Worth, USA': (32.735794, -97.2299579), u'Paris, France ': (48.8565056, 2.3521334), u'Budapest, Hungary': (47.4983815, 19.0404707), u'Surat, India': (21.1864607, 72.8081281), u'Fuzhou, China': (26.0771539, 119.2914774), u'Birmingham, UK': (52.4813679, -1.8980726), u'Baghdad, Iraq': (33.3024248, 44.3787992), u'Los Angeles, USA ': (34.0543942, -118.2439408), u'Philadelphia, USA ': (39.9523993, -75.1635898), u'Melbourne, Australia': (-37.8142175, 144.9631608), u'Hyderabad, India': (17.3616227, 78.4747305), u'Rome, Italy': (41.8933439, 12.4830718), u'Z\xfcrich, Switzerland': (47.3685586, 8.5404434), u'Luanda, Angola': (-8.8271655, 13.2436665), u'Milan, Italy ': (45.4667971, 9.1904984), u'Rio de Janeiro, Brazil': (-22.9110137, -43.2093727), u'Auckland, New Zealand': (-36.8534664, 174.7655514), u'Dhaka, Bangladesh': (23.7593572, 90.3788136), u'Yangoon, Myanmar': (19.7401293, 96.0314861), u'Washington, D.C., USA': (38.8996378, -77.0222541), u'Bogota, Colombia': (4.5980478, -74.0760867), u'Prague, Czech Republic': (50.0874401, 14.4212556), u'Calcutta, India ': (22.568746, 88.3462999), u'Istanbul, Turkey': (41.0096334, 28.9651646), u'Lahore, Pakistan ': (31.5621916, 74.3228517), u'Kinshasa, Congo (DRC) ': (-2.9814344, 23.8222636), u'Hamburg, Germany': (53.5437641, 10.0099133), u'Sydney, Australia': (-33.8548156, 151.2164539)}

In [255]:
pickle.dump(city_location_dict, open('../web_app/models/city_location_dict.pkl', 'wb'))

In [260]:
city_location_dict['Philadelphia, USA ']

(39.9523993, -75.1635898)

In [178]:
 x = df.groupby(['scraped_address']).count().sort_values('company_link', axis=0, ascending=False)

In [258]:
cities = pickle.load(open('../web_app/models/city_location_dict.pkl', 'r'))
cities.keys()

[u'Vancouver, Canada',
 u'Lima, Peru',
 u'Shenzhen, China',
 u'Porto Alegre, Brazil',
 u'Medellin, Colombia',
 u'Mesa, USA',
 u'London, United Kingdom ',
 u'Hangzhou, China ',
 u'Karachi, Pakistan ',
 u'Johannesburg, South Africa',
 u'Monterrey, Mexico',
 u'Athens, Greece',
 u'Suzhou, China',
 u'Singapore, Singapore',
 u'Shenyang, China',
 u'Osaka, Japan',
 u'Riyadh, Saudi Arabia',
 u'Chengdu, China ',
 u'Jakarta, Indonesia',
 u'Manila, Philippines',
 u'Austin, USA',
 u'Chicago, USA',
 u'Naples, Italy',
 u'Tianjin, China ',
 u'Vienna, Austria',
 u'Accra, Ghana',
 u'Khartoum, Sudan ',
 u'Bandung, Indonesia ',
 u'Kuala Lumpur, Malaysia',
 u'Sofia, Bulgaria',
 u'Zhengzhou, China',
 u'Guangzhou, China ',
 u'Alexandria, Egypt',
 u'Detroit, USA',
 u'Manchester, UK',
 u'Montevideo, Uruguay',
 u'Shanghai, China',
 u'Ho Chi Minh City, Vietnam',
 u'Houston, USA',
 u'Harbin, China ',
 u'Boston, USA',
 u'Stockholm, Sweden',
 u'New York, USA ',
 u'Quanzhou, China',
 u'Nanjing, China',
 u'Saint Petersburg, Russia',
 u'Sao Paulo, Brazil ',
 u'Geneva, Switzerland',
 u"Xi'an-Xianyang, China",
 u'Guadalajara, Mexico',
 u'Ankara, Turkey',
 u'Seattle, USA',
 u'Rio de Janeiro, Brazil',
 u'Mexico City, Mexico',
 u'Recife, Brazil ',
 u'Tehran, Iran',
 u'San Jose, USA',
 u'Phoenix, USA',
 u'Essen, Germany',
 u'Qingdao, China',
 u'Dongguan, China',
 u'Buenos Aires, Argentina',
 u'San Diego, USA',
 u'Cologne, Germany',
 u'Delhi, India',
 u'Tokyo, Japan',
 u'Mumbai, India',
 u'Lagos, Nigeria',
 u'Barcelona, Spain ',
 u'Belo Horizonte, Brazil',
 u'Taipei, Taiwan ',
 u"Abidjan, Cote d'Ivoire",
 u'Wuhan, China',
 u'Edinburgh, UK',
 u'Madrid, Spain',
 u'Moscow, Russia',
 u'Toronto, Canada',
 u'Nagoya, Japan ',
 u'Surabaya, Indonesia',
 u'Hyderabad, India',
 u'Beijing, China ',
 u'Hong Kong, Hong Kong ',
 u'Bangkok, Thailand ',
 u'Ahmedabad, India',
 u'Pune, India',
 u'San Francisco, USA',
 u'Oakland, USA',
 u'Dalian, China ',
 u'Seoul, South Korea',
 u'Miami, USA',
 u'Bengaluru, India',
 u'Charlotte, USA',
 u'Cairo, Egypt ',
 u'Chennai, India',
 u'Berlin, Germany',
 u'Atlanta, USA',
 u'Santiago, Chile',
 u'Oslo, Norway',
 u'Dallas-Fort Worth, USA',
 u'Paris, France ',
 u'Budapest, Hungary',
 u'Surat, India',
 u'Fuzhou, China',
 u'Birmingham, UK',
 u'Baghdad, Iraq',
 u'Los Angeles, USA ',
 u'Philadelphia, USA ',
 u'Melbourne, Australia',
 u'Salvador, Brazil ',
 u'Rome, Italy',
 u'Z\xfcrich, Switzerland',
 u'Luanda, Angola',
 u'Milan, Italy ',
 u'Wellington, New Zealand',
 u'Auckland, New Zealand',
 u'Dhaka, Bangladesh',
 u'Yangoon, Myanmar',
 u'Washington, D.C., USA',
 u'Bogota, Colombia',
 u'Prague, Czech Republic',
 u'Calcutta, India ',
 u'Istanbul, Turkey',
 u'Lahore, Pakistan ',
 u'Kinshasa, Congo (DRC) ',
 u'Sydney, Australia',
 u'Hamburg, Germany']

In [190]:
site = requests.get('http://www.city-data.com/top1.html').text
soup = BeautifulSoup(site, "html.parser")
cities = soup.findAll(class_="btn btn-xs btn-danger pull-right")

[<a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",0);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",1);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",2);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",3);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",4);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",5);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",6);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",7);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",8);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>,
 <a class="btn btn-xs btn-danger pull-right" href='javascript:sm("map",9);' title="Find on map"><span class="glyphicon glyphicon-map-marker"></span></a>]

In [188]:
us_cities=[]
for city in cities:
    us_cities.append(city.text)

In [189]:
us_cities

[u'', u'', u'', u'', u'', u'', u'', u'', u'', u'']

In [263]:
df['dist_diff'] = df.location.apply(lambda x: (vincenty(x, city_location_dict['Philadelphia, USA ']).miles))

In [267]:
df[df['dist_diff']<=8].full_address

1310    Philadelphia, Philadelphia County, Pennsylvani...
2479    Philadelphia, Philadelphia County, Pennsylvani...
2480    Philadelphia, Philadelphia County, Pennsylvani...
2483    Philadelphia, Philadelphia County, Pennsylvani...
2671    Philadelphia, Philadelphia County, Pennsylvani...
2762    Philadelphia, Philadelphia County, Pennsylvani...
2816    Philadelphia, Philadelphia County, Pennsylvani...
Name: full_address, dtype: object